  /* #283593  #5f5fc4 #03dac6*/

*{
    text-align: center;
}

.titleContainer{
    width: 100%;
    margin-bottom: 20px;
}

 

main{
    width: 90%;
    margin: auto;
}

.timerSetterContainer{
    border-radius: 7px;
    /* border: 1px solid #001064;  */
     /* background-color: azure;  */
     /* background-color: #5f5fc4;  */
     /* background-color: rgba(95, 95, 196, 0.5); */
      background-color: rgba(40, 53, 147, 0.1); 
     width: 50%;
     margin: auto;
     padding-bottom: 20px;
     /* box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25); */
     /* box-shadow: -10px 18px 20px 10px rgba(0, 0, 0, 0.3); */
     box-shadow: -8px 16px 18px 5px rgba(0, 0, 0, 0.3);
}
h2{
    color: #283593;
    font-size: 20px;
}
form, h2{
    padding-top: 20px;
}

.dateLabel{
    margin-right: 85px;
}

input#calendar{
    width: 250px;
    /* color: lightgray; */
    /* background: none; */
    }

input{
    border: none;
    height: 40px;
    font-size: 30px; 
    font-weight: 700;
    width: 100px;
    /* background: rgba(95, 95, 196, 0.8);*/
    border-radius: 7px; 
}
/* input::placeholder{
    color: lightgray;
} */
/* #5f5fc4; */

.timeSetter{
    margin-top: 20px;
}
 

/* .timerValueContainer{
    visibility: hidden;
} */



#background{         transition: width 0.1s;
                    -webkit-transition: width 0.1s;
                    transition: height 0.1s;
                    -webkit-transition: height 0.1s;
                    width: 14px;
                    height: 14px;    
                    max-width: 322px;
                    max-height: 322px;
                    background:radial-gradient(white, white, rgba(40, 53, 147, 0.2), rgba(95, 95, 196, 0.5));
                    border-radius: 50%;
                    position: absolute;
                    margin:auto;
                    top:0;
                    left:0;
                    right: 0;
                    bottom:0; 
                }
  
            