  /* #283593  #5f5fc4 */

*{
    text-align: center;
}

.titleContainer{
    width: 100%;
    margin-bottom: 20px;
}

 .title{
    font-size: 35px;
      color: #283593;
      font-weight: bold;
      /* text-align: center; */
      border-bottom: #283593 2px solid;
      width: 30%;
      margin: 10px auto 20px auto;
  } 

main{
    width: 90%;
    margin: auto;
}

.timerSetterContainer{
    border-radius: 7px;
    border: 2px solid #001064;;
    background-color: #5f5fc4;
}

form{
    padding-top: 20px;
}

.dateLabel{
    margin-right: 85px;
}

input#calendar{
    width: 250px;
    /* background: none; */
    }

input{
    border: none;
    height: 40px;
    font-size: 30px;
    color: #fff; 
    font-weight: 700;
    width: 100px;
    background: rgba(95, 95, 196, 0.8);
    border-radius: 7px;
}
/* #5f5fc4; */

.timeSetter{
    margin-top: 20px;
}
 

.timerValueContainer{
    visibility: hidden;
}

#background{
                    -webkit-transition: width 0.1s;
                    -webkit-transition: height 0.1s;
                    width: 14px;
                    height: 14px;    
                    max-width: 322px;
                    max-height: 322px;
                    background:radial-gradient(white, rgba(40, 53, 147, 0.2), rgba(95, 95, 196, 0.5));
                    border-radius: 50%;
                    position: absolute;
                    margin:auto;
                    top:0;
                    left:0;
                    right: 0;
                    bottom:0; 
                }
  
            