*{
    box-sizing: border-box;
    /* text-align: center; */
}

/* body{
    margin: 0;
} */

.inlineBlock{
    display: inline-block;
}

.whiteText{
    color: white;
}
.centerText{
    text-align: center;
}
nav {
    position: fixed;
    background-color: rgba(0, 0, 3);
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(42, 42, 252);
}

#brandNameContainer{
    font-size: 30px;
}

.menuContainer{
    width: 85%;
    text-align: right;
}

ul{
    list-style: none;
}

.menuItem{
padding-right: 15px;
font-size: 20px;
}

.menuItem::after{
    content: "|";
    padding: 5px;
}

a{
    text-decoration: none;
    padding-right: 5px;
  }

  /* a::after{
    padding: 5px;

}   */


a:hover{
    color : rgb(42, 42, 252);
}

main{
    position: relative;
    top: 100px;
}

.rotatingClock{
    height: 520px;
    width: 520px;
    background: radial-gradient(white, black);
    border: 10px solid black;
    border-radius: 50%;
    /* display: inline-block; */
    margin: auto;
    padding: 20px;
}

.secondNeedle{
    width: 2px;
    height: 250px;
    background: radial-gradient(black, red);
    /* border-radius: 10px; */
    position: relative;
    left: 229px;

}

.minuteNeedle{
    width: 5px;
    height: 250px;
    background: radial-gradient(black, blue);
    position: relative;
    left: 227px;
    top: -250px;
    
}

.hourNeedle{
    width: 5px;
    height: 125px;
    background: yellow;
    position: relative;
    left: 227px;
    top: -375px; 
}