*{
    box-sizing: border-box;
    font-family: sans-serif;
} 


.inlineBlock{
    display: inline-block;
}

.whiteText{
    color: white;
}
.centerText{
    text-align: center;
}
nav {
    position: fixed;
    top:0;
    /* background-color: rgba(0, 0, 3); */
    background-color: #001064;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #5f5fc4;
}

#brandNameContainer{
    font-size: 30px;
}

.menuContainer{
    width: 85%;
    text-align: right;
}

ul{
    list-style: none;
}

.menuItem{
padding-right: 15px;
font-size: 20px;
}

.menuItem::after{
    content: "|";
    padding: 5px;
}

a{
    text-decoration: none;
    padding-right: 5px;
  }

a::after{
    padding: 5px;

}  


a:hover{
    color : #5f5fc4;
}

main{
    position: relative;
    top: 100px;
} 

.analogClock{
    background-color: azure;
    width: 350px;
    height: 350px;
    margin: 8% auto; 
    border-radius: 50%;
    border: 14px solid #283593;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

.dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* background-color: #ccc; */
    background-color: #283593;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto; 
    z-index: 10;
    box-shadow: 0 2px 4px -1px  #263238;;
}

.clockHand{
    position: absolute;
    background: #001064;
    /* transform-origin:50% 95%; */
    /* transform: rotate(45deg) translate(-20px, 20px); */
    /* transform: translatex(-10px);  */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.hourHand{
    z-index: 8; 
    width: 4px;
    height: 95px;
    top: 87px;
    text-align: center;
    left: 50%;
    /*half of the width*/
    margin-left: -2px; 
    transform-origin:50% 75px;
} 

 .minuteHand{
    z-index: 7;
    width: 4px;
    height: 140px;
    top: 43px;
    left: 50%;
    margin-left: -2px;
    transform-origin:50% 120px;
}  

 .secondHand{
    z-index: 7;
    width: 2px;
    height: 180px;
    top: 2px;
    left: 50%;
    margin-left: -1px; 
    transform-origin:50% 160px;
}


span{
    display: inline-block;
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    z-index: 4;
}

.hour12{
    top:30px;
    left: 50%;
    margin-left: -11px;
}

.hour6{
    bottom:30px;
    left: 50%;
    margin-left: -5px;
}

.hour3{
    top: 155px;
    right: 30px;
}

.hour9{
    left: 32px;
    top: 155px;
}

 .diallines{
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #263238;
    /* background: #666; */
    left: 50%;
    top:1px; 
    /* bottom: 0; */
    margin-left: -2px;
    transform-origin: 50% 160px;
} 

.diallines:nth-of-type(5n){
    width: 4px;
    height: 25px;
}


 .analogClockDate{
    position: absolute;
    z-index: 3;
    width: 120px;
    height: 25px;
    border-radius: 7px;
    /* background: #888; */
    background: #5f5fc4;
    text-align: center;
    line-height: 25px;
    color: #fff; 
    font-size: 12px;
    top: 80px;
    left: 50%; 
     margin-left: -60px;
    font-weight: 800;
    letter-spacing: 3px;
} 

.analogClockDay{
    position: absolute;
    z-index: 3;
    width: 120px;
    height: 25px;
    border-radius: 7px;
    background: #5f5fc4;
    /* background: #888; */
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    top: 200px;
    left: 50%; 
    /* top: 75%;
    left: 50%; */
    margin-left: -60px;
    font-weight: 800;
    letter-spacing: 3px;
} 