*{
    box-sizing: border-box;
    font-family: sans-serif;
} 


.inlineBlock{
    display: inline-block;
}

.greenButton{
    background-color: #03dac6;
}

.whiteText{
    color: white;
}
.centerText{
    text-align: center;
}
nav {
    position: fixed;
    top:0;
    background-color: #001064;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #5f5fc4;
    line-height: 40px;
    z-index: 1;
}

#brandNameContainer{
    font-size: 30px;
}

.menuContainer{
    width: 85%;
    text-align: right;
}

ul{
    list-style: none;
}

.menuItem{
margin-right: 20px; 
font-size: 20px;
padding-right:8px;
border-right: 1px solid white;
}

.menuItem:hover, #brandNameContainer:hover{
border-bottom: 2px solid white;
 }

a{
    text-decoration: none;
  }

main{
    position: relative;
    top: 100px;
} 

.title{
    font-size: 35px;
      color: #283593;
      font-weight: bold;
      /* text-align: center; */
      border-bottom: #283593 2px solid;
      width: 30%;
      margin: 10px auto 20px auto;
  } 

.analogClock{
    background-color: azure;
    width: 350px;
    height: 350px;
    margin: 8% auto; 
    border-radius: 50%;
    border: 14px solid #283593;
    position: relative;
    box-shadow: -10px 18px 20px 10px rgba(0, 0, 0, 0.3);
}

.dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #283593;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto; 
    z-index: 10;
    box-shadow: -1px 3px  5px rgba(0, 0, 0, 0.3);
}

.clockHand{
    position: absolute;
    background: #001064;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.secondHand{
    z-index: 7;
    width: 2px;
    height: 180px;
    top: 2px;
    left: 50%;
    margin-left: -1px; 
    transform-origin:50% 160px;
}



.diallines{
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #263238;
    left: 50%;
    top:1px; 
    margin-left: -2px;
    transform-origin: 50% 160px;
} 
