

span.hour{
    display: inline-block;
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    z-index: 4;
}

.hour12{
    top:30px;
    left: 50%;
    margin-left: -11px;
}

.hour6{
    bottom:30px;
    left: 50%;
    margin-left: -5px;
}

.hour3{
    /* top: 150px; */
    top: 200px;
    right: 30px;
}

.hour9{
    left: 32px;
    top: 200px;
}

 
.diallines:nth-of-type(5n){
    width: 4px;
    height: 25px;
}

.analogText{
    position: absolute;
    z-index: 3;
    width: 120px;
    /* height: 25px; */
    height: 30px;
    border-radius: 7px;
    background: #5f5fc4;
    text-align: center;
    line-height:30px;
    /* line-height: 25px; */
    color: #fff; 
    left: 50%; 
    margin-left: -60px;
    padding-left: 2px;
    font-weight: 800;
    letter-spacing: 3px;
    box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.25);

}
 
.clockDate{
    font-size: 12px;
    /* top: 140px; */
    top: 30%;
} 

.clockDay{
    font-size: 14px;
    /* top: 280px; */
    top: 70%;
} 